Language: Cpp

IndentWidth: 2
ColumnLimit: 100

BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: false

BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterUnion: true
  AfterExternBlock: true

  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false

  IndentBraces: false

  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# EmptyLineAfterAccessModifier: true (clang 14)

IndentCaseLabels: true
IndentCaseBlocks: true
IndentExternBlock: true
IndentGotoLabels: true

IndentPPDirectives: AfterHash
NamespaceIndentation: All

InsertTrailingCommas: None
MaxEmptyLinesToKeep: 1

# Note to self: these options are deprecated from v14 of clang-format, then use:
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# PackConstructorInitializers: NextLine (clang 14)

BinPackParameters: true
BinPackArguments: true

AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive

BitFieldColonSpacing: Both

UseTab: Never
UseCRLF: false # Do not use \r\n, instead use \n
